@define-color bar-bg rgba(0, 0, 0, 0);
@define-color main-bg rgba(20, 0, 0, 0.8);
@define-color main-fg rgba(255, 100, 100, 1);
@define-color wb-act-bg rgba(255, 60, 60, 0.9);
@define-color wb-act-fg rgba(0, 0, 0, 0.7);
@define-color wb-hvr-bg rgba(150, 0, 0, 0.4);
@define-color wb-hvr-fg rgba(255,180,180,0.8);


* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 10px;
}

window#waybar {
    background: @bar-bg;
    border-radius: 15px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @main-fg;
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @wb-color;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}

#tray,
#workspaces,
#taskbar,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-hyprPicker,
#custom-power-menu,
#custom-spotify,
#custom-storage,
#custom-screenshot_t,
#custom-power,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
    color: @main-fg;
    background: @main-bg;
    border-radius: 3px; 
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}
