* {
    font-family: "JetBrainsMono Nerd Font", monospace;
}

window {
    background-color: rgba(12, 12, 12, 0.85);
    border: 2px solid #ff3c3c;
}

#input {
    margin: 10px;
    border-radius: 4px;
    border: none;
    background-color: rgba(24, 24, 24, 0.9);
    color: #ffffff;
}

#inner-box {
    background-color: rgba(20, 20, 20, 0.8);
}

#outer-box {
    margin: 4px;
    padding: 10px;
    background-color: rgba(20, 20, 20, 0.8);
}

#scroll {
    margin: 5px;
}

#text {
    padding: 6px;
    color: #ffffff;
}

#entry {
    padding: 4px;
    background-color: transparent;
}

#entry:nth-child(even) {
    background-color: rgba(30, 0, 0, 0.3);
}

#entry:selected {
    background-color: #ff3c3c;
    border-radius: 4px;
}

#text:selected {
    color: #000000;
    background: transparent;
}
